doctype html
head
  meta(charset='UTF-8')
  title fastrack
  link(rel='stylesheet', href='/stylesheets/full_style.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')


body
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link.disabled(href='') 대기리스트
      li.nav-item
        a.nav-link(href='/reservation') 오프라인 예약
      li.nav-item
        a.nav-link(href='/mypage') 내 정보 수정
      li.nav-item
        a.nav-link(href='#') 우리가게 메뉴
      li.nav-item
        a.nav-link(href='#') 로그아웃

  main.container(role='main')
    .jumbotron
      input#email(type="hidden", name='email', value={email})
      input#full(type='checkbox', name='full', onclick='isfull(this)')
      label(for='full') 만석시 체크해주세요.


  script(src='http://code.jquery.com/jquery-1.10.2.js')
  script(type='text/javascript').
    function isfull(chkbox){
      var full = false;
      if(chkbox.checked == true){
        full = true;
      }
      else{
        full = false;
      }
      alert(full);

      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", "/main/fullCheck");

      var hiddenEmailField = document.createElement("input");
      hiddenEmailField.setAttribute("type", "hidden");
      hiddenEmailField.setAttribute("name", "email");
      hiddenEmailField.setAttribute("value", email);

      var hiddenFullField = document.createElement("input");
      hiddenFullField.setAttribute("type", "hidden");
      hiddenFullField.setAttribute("name", "full");
      hiddenFullField.setAttribute("value", full);

      form.appendChild(hiddenEmailField);
      form.appendChild(hiddenFullField);


      var url = "http://54.180.123.67:3000/buser/fullCheck";
      document.body.appendChild(form);
      form.submit();

    }
