doctype html
head
  meta(charset='UTF-8')
  title ReservationSuccess
  link(rel='stylesheet', href='/stylesheets/reservation.css')

body
  h1 예약에 성공하였습니다.
  input(type='submit' name ='btn' value='확인' onClick="location.href='/reservation'")
