doctype html
head
  meta(charset='UTF-8')
  title reservation
  link(rel='stylesheet', href='/stylesheets/reservation.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')

body
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/main') 대기리스트
        li.nav-item
          a.nav-link.disabled(href='/reservation') 오프라인 예약
        li.nav-item
          a.nav-link(href='/mypage') 내 정보 수정
        li.nav-item
          a.nav-link(href='/mymenu') 우리가게 메뉴
      form#fr.form-inline.mt-2.mt-md-0(action='/logout')
        button.btn.btn-outline-info.my-2.my-sm-0(type='button', onclick='logout()') 로그아웃

  main.container(role='main')
    .jumbotron
      form(name=res, action='/reservation', method = 'post')
        .content
        label(for='people') 인원수 :
        select#total(name='total')
          br
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='5') 5
          option(value='6') 6
          option(value='7') 7
          option(value='8') 8
        br
        label(for='phonenum') 전화번호 :
        input#phone(type='text' name='phone')
        br
        br
        input#res_bt(type='submit' name ='res_bt' value='예약하기')

script.
  function logout(){
   var con = confirm("로그아웃 하시겠습니까?");
   if(con){
     location.href="/logout";
   }
   else{}

  }
