doctype html
head
  meta(charset='UTF-8')
  title #{title}
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/cover.css')

body.text-center
  .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
    br
    br
    main.inner.cover(role='main')
      h1.cover-heading #{title} 성공하였습니다.
      br
      p.lead
        a.btn.btn-lg.btn-info(href='/'+ href_string) #{btn_string}
